
body { 
 overflow: hidden;
}


h1 {
  font-family: Courier, sans-serif;
  color: white;
}

#editor {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  font-family: Courier, sans-serif;
  font-size: 18px;
  border-radius: 10px;
}

.secondary {
  color: white;
}


.ace-1c .ace_gutter {
  color: #afafaf;
}

.ace-tm .ace_print-margin {
  background: transparent !important;
}
/*
.custom-control-label::before {
  background-color: #00ff55 !important;
}
*/